<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shakticoin.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".ShaktiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".registration.SignUpActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.SignInActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tour.WelcomeTourActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.RecoveryPasswordActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".registration.SignInActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.ReferralActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.ReferralConfirmationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.BonusBountyActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.MiningLicenseActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".payment.stripe.StripeActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".wallet.WalletActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".widget.qr.QRScannerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.NewBonusBountyActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.ProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.KycActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".referral.MyReferralsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".referral.AddReferralActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".referral.MyReferralsActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".referral.EffortRatesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".referral.MyReferralsActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".miner.BecomeMinerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".miner.UpgradeMinerActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vault.VaultAdvantageActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".vault.VaultChooserActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".vault.VaultAdvantageActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsPersonalActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsHelpActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".settings.SettingsPrivPolicyActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsAppTermsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsTaxesActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsProcFeeActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsContactUsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".settings.SettingsPasswordActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".settings.SettingsHelpActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".wallet.WalletAdminActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".wallet.WalletActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".wallet.WalletHistoryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".wallet.WalletActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".payment.PaymentOptionsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".profile.FamilyTreeActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".wallet.WalletActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".registration.ActivationActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter android:name="Activation">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="0.0.0.0"
                    android:pathPrefix="/auth/activate"
                    android:port="8080"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.CompanyProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.CompanySummaryActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".wallet.WalletActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".feats.OnboardChildActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".feats.OnboardSchoolActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".feats.OnboardProviderActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".feats.OnboardVerifierActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shakticoin.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>